In [ ]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.
sol="A database is a structured collection of data that is organized, managed, and accessed in a systematic way. \
It allows users to store, retrieve, update, and delete data efficiently."
# SQL Databases
sol="SQL (Structured Query Language) databases are relational databases that store and manage data in structured tables.\
They use SQL for querying and manipulating data. Ex. MySQL"

# NoSQL Databases
sol="NoSQL (Not Only SQL) databases are non-relational databases that store and manage data in flexible formats,\
like key-value pairs, documents, or graphs. They are designed for high scalability, performance, and flexibility. "

In [ ]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
sol="DDL stands for Data Definition Language, used to define and manage the structure of database objects.\
DDL commands are responsible for creating, modifying, and deleting database objects. It includes CREATE, ALTER, DROP, TRUNCATE commands."

# CREATE
sol="The CREATE command is used to create new database objects."

# DROP
sol="The DROP command is used to delete existing database objects."

# ALTER
sol=" The ALTER command is used to modify the structure of an existing database object."

# TRUNCATE
sol="The TRUNCATE command is used to remove all data from a table while keeping its structure intact"

In [ ]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
sol="DML stands for Data Manipulation Language, used to manipulate and work with the data stored in the database.\
DML commands are responsible for inserting, updating, and deleting data within the database tables."

# INSERT
sol="The INSERT command is used to add new records (rows) into a table."

# UPDATE
sol="The UPDATE command is used to modify existing records in a table."

# DELETE
sol=" The DELETE command is used to remove specific records from a table."

In [ ]:
#Q4. What is DQL? Explain SELECT with an example.
sol="DQL stands for Data Query Language, used to retrieve and query data from a database.\
DQL commands focus on querying and extracting specific information from the database tables."

# SELECT
sol="The SELECT command is used to retrieve data from one or more tables based on specified criteria.\
The SELECT command is one of the fundamental DQL commands.\

EX. 'SELECT name, salary FROM employees WHERE age >= 30;' \

the SELECT statement retrieves the 'name' and 'salary' columns from the 'employees' table,\
but only for rows where the 'age' is greater than or equal to 30."

In [ ]:
#Q5. Explain Primary Key and Foreign Key.
# Primary Key
sol="A primary key is a column or set of columns in a table that uniquely identifies each row in the table. \
A primary key cannot contain null values and must be unique for each row in the table."

# Foreign Key
sol="A foreign key is a column or set of columns in one table that refers to the primary key of another table.\
It is used to establish a link between two tables and enforce referential integrity between them. \
A foreign key can contain null values and must match the data type of the primary key it refers to."

In [ ]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
# Python code to connect MySQL
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()

# cursor()
sol="The cursor() method is used to create a cursor object, which allows to execute SQL queries and fetch results from the database.\
A cursor acts as a pointer or handle to the result set returned by the database after executing a query."

# execute()
sol="The execute() method is used to execute an SQL query using the cursor.\
We pass the SQL statement as a string argument to the execute() method, and it sends the query to the database for execution."

In [ ]:
#Q7. Give the order of execution of SQL clauses in an SQL query.
sol="FROM clause\
JOIN clause \
WHERE clause \
GROUP BY clause\
HAVING clause\
SELECT clause\
DISTINCT clause\
ORDER BY clause"