In [3]:
#Q1. List any five functions of the pandas library with execution.
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 22, 28, 35],
    'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']
}

df = pd.DataFrame(data)

#1. head() : Print first few rows of dataframe
print(df.head())
print()

#2. groupby(): This function is used to group data in a DataFrame based on one or more columns.
grouped_data=df.groupby("City")
for city, group in grouped_data:
    print(f"City: {city}")
    print(group)
print() 

#3. drop(): This function is used to remove rows or columns from a DataFrame.
df=df.drop('City', axis=1)
print(df)
print()

#4. merge(): This function is used to combine two DataFrames based on a common column or index.
data1 = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22]
}
data2 = {
    'Name': ['David', 'Eve'],
    'Age': [28, 35],
    'City': ['Tokyo', 'Sydney']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

df = pd.merge(df1, df2, on='Name')
print(df)
print()

#5 .unique(): This function is used to get unique values from a Series
data = [10, 20, 30, 20, 40, 30, 50]
series = pd.Series(data)
unique_values = series.unique()
print(unique_values)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   22     Paris
3    David   28     Tokyo
4      Eve   35    Sydney

City: London
  Name  Age    City
1  Bob   30  London
City: New York
    Name  Age      City
0  Alice   25  New York
City: Paris
      Name  Age   City
2  Charlie   22  Paris
City: Sydney
  Name  Age    City
4  Eve   35  Sydney
City: Tokyo
    Name  Age   City
3  David   28  Tokyo

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22
3    David   28
4      Eve   35

Empty DataFrame
Columns: [Name, Age_x, Age_y, City]
Index: []

[10 20 30 40 50]

In [5]:
#Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame
#with a new index that starts from 1 and increments by 2 for each row.
import pandas as pd
data = {
    'A': [10, 20, 30, 40],
    'B': [50, 60, 70, 80],
    'C': [90, 100, 110, 120]
}

df = pd.DataFrame(data)
new_index=pd.RangeIndex(start=1,step=2,stop=len(df)*2+1)
df.index=new_index
print(df)

    A   B    C
1  10  50   90
3  20  60  100
5  30  70  110
7  40  80  120

In [24]:
#Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame
#and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.
#For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
#calculate and print the sum of the first three values, which is 60.
data = {
    'values': [10, 20, 30, 40,50]
}
df=pd.DataFrame(data)
new_df=df.loc[0:2,["values"]]
sum=new_df.sum()
print(sum)

values    60
dtype: int64

In [25]:
#Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count'
#that contains the number of words in each row of the 'Text' column.
data = {
    'Text': ['hello','Alice','bonjour','is','pneumonoultramicroscopicsilicovolcanoconiosis']
}
df=pd.DataFrame(data)
df['Word_Count']=df['Text'].apply(lambda x:len(x))
df

                                            Text  Word_Count
0                                          hello           5
1                                          Alice           5
2                                        bonjour           7
3                                             is           2
4  pneumonoultramicroscopicsilicovolcanoconiosis          45

In [26]:
#Q5. How are DataFrame.size() and DataFrame.shape() different?
sol="DataFrame.size(): This attribute returns the total number of elements in the DataFrame. In other words, DataFrame.size gives the total count\
of cells in the DataFrame.\
DataFrame.shape: This attribute returns a tuple representing the dimensions of the DataFrame.\
It provides the number of rows and columns as (num_rows, num_columns)."

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 22, 28, 35],
    'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']
}

df = pd.DataFrame(data)
size = df.size
shape = df.shape

print("DataFrame Size:", size)
print("DataFrame Shape:", shape)

DataFrame Size: 15
DataFrame Shape: (5, 3)

In [ ]:
#Q6. Which function of pandas do we use to read an excel file?
sol="To read an Excel file in Pandas, we can use the pd.read_excel() function. This function allows us to read data from an Excel file\
and create a DataFrame in Pandas"
import pandas as pd
df=pd.read_excel("any.xlsx")

In [30]:
#Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'.
#Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.
data={
    "email":['abc@gmail.com','1234school@gmail.com','zindgijio420@life4all.com','loveu300@tonystark.com']
}
df=pd.DataFrame(data)
df["Username"]=df['email'].apply(lambda x:(x.split('@')[0]))
print(df)

                       email      Username
0              abc@gmail.com           abc
1       1234school@gmail.com    1234school
2  zindgijio420@life4all.com  zindgijio420
3     loveu300@tonystark.com      loveu300

In [39]:
#Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selectsall rows where the value in column 'A' 
#is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.
#For example, if df contains the following values:
#  A B C
#0 3 5 1
#1 8 2 7
#2 6 9 4
#3 2 3 5
#4 9 1 2
def update_df(df):
    new_df=df[(df['A']>5) & (df['B']<10)]
    return new_df
data={
    'A':[3,8,6,2,9],
    'B':[5,2,9,3,1],
    'C':[1,7,4,5,2]
}
df=pd.DataFrame(data)
df=update_df(df)
print(df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [51]:
#Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation
#of the values in the 'Values' column.
data={
    'values':[3,8,6,2,9]
}
df=pd.DataFrame(data)
print("mean:",df.mean()[0])
print()
print("median:",df.median()[0])
print()
print("standard deviation:",df.std()[0])

mean: 5.6

median: 6.0

standard deviation: 3.0495901363953815

In [10]:
#Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage'
#that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated
#using a window of size 7 and should include the current day.
import pandas as pd

data = {
    'Sales': [100, 120, 80, 150, 200, 90, 130, 180],
    'Date': ['2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04', '2023-07-05', '2023-07-06', '2023-07-07', '2023-07-08']
}
df=pd.DataFrame(data)
df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
print(df)

   Sales        Date  MovingAverage
0    100  2023-07-01     100.000000
1    120  2023-07-02     110.000000
2     80  2023-07-03     100.000000
3    150  2023-07-04     112.500000
4    200  2023-07-05     130.000000
5     90  2023-07-06     123.333333
6    130  2023-07-07     124.285714
7    180  2023-07-08     135.714286

In [6]:
#Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a newcolumn 'Weekday' in the DataFrame.
#The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.
#For example, if df contains the following values:
#    Date
#0 2023-01-01
#1 2023-01-02
#2 2023-01-03
#3 2023-01-04
#4 2023-01-05

data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
}

df = pd.DataFrame(data)
df["Date"]=pd.to_datetime(df['Date'])
df["Weekday"]=df['Date'].dt.day_name()
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [8]:
#Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
#function to select all rows where the date is between '2023-01-01' and '2023-01-31'.
data = {
    'Date': ['2023-01-01', '2023-01-15', '2023-01-31', '2023-02-05', '2023-02-10']
}
df=pd.DataFrame(data)
df["Date"]=pd.to_datetime(df["Date"])
mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')
df=df[mask]
print(df)

        Date
0 2023-01-01
1 2023-01-15
2 2023-01-31

In [ ]:
#Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?
sol="To use the basic functions of pandas, the first and foremost necessary library that needs to be imported is the 'pandas' library itself"
import pandas as pd