In [1]:
#Q1. Create one variable containing following type of data:
#(i) string
a="shubham"

#(ii) list
l1=["1",1,3,3.0]

#(iii) float
b=3.56

#(iv) tuple
tup=(1,2,3,4)

In [2]:
#Q2. Given are some following variables containing data.What will be the data type of the given variable.
#(i) var1 = ‘ ‘
ans1="string"

#(ii) var2 = ‘[ DS , ML , Python]’
ans2="string"

#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
ans3="list"

#(iv) var4 = 1.
ans4="float"

In [3]:
#Q3. Explain the use of the following operators using an example:
#(i) /
ans1="It is known as arithematic division operator. It gives quotient as the output of given statement. Ex the output for 10/2 is 5"

#(ii) %
ans2="It is known as modulo operator. It gives modulus or remainder as the output of given statement. Ex the output for 10%2 is 0"

#(iii) //
ans3="It is known as floor division operator. It gives quotient rounded of to the nearest smaller integer as the output of given statement. Ex the output for 10//3 is 3"

#(iv) **
ans1="It is known as power or exponential operator. It gives a raised to the power b for expression a**b as the output of given statement. Ex the output for 2**3 is 8"

In [4]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
l1=[1,2,3,"hlo",3.78,"my","name","is","shubham malik",787]
for i in l1:
    print(i)

1
2
3
hlo
3.78
my
name
is
shubham malik
787

In [6]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.\
cnt=0
a=8
n=a
b=2
while(a%b==0):
    cnt+=1
    a=a/b
print(n,"is divisible by",b,cnt,"times")

8 is divisible by 2 3 times

In [1]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
l1=[1,3,4,2,66,433,23,76,45,32,12,131,67,54,23,5,32,11,18,22,25,65,45,13,67]
for i in l1:
    if i%3==0:
        print(i,'is divisible by 3')
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
2 is not divisible by 3
66 is divisible by 3
433 is not divisible by 3
23 is not divisible by 3
76 is not divisible by 3
45 is divisible by 3
32 is not divisible by 3
12 is divisible by 3
131 is not divisible by 3
67 is not divisible by 3
54 is divisible by 3
23 is not divisible by 3
5 is not divisible by 3
32 is not divisible by 3
11 is not divisible by 3
18 is divisible by 3
22 is not divisible by 3
25 is not divisible by 3
65 is not divisible by 3
45 is divisible by 3
13 is not divisible by 3
67 is not divisible by 3

In [ ]:
#. What do you understand about mutable and immutable data types? Give examples for both showing this property.
ans1="Mutable data types are those data types in which we can perform changes i.e if we do changes it reflect back without using new storage.Ex lists  whereas immutable data types are those data types in which we cant perform any type of change i.e if once they are created we cant perform any change in the value or it create a new storage area for new value. Ex tuple"
ex="l1=[1,2,3,4,5] in list if want to change any value we chnge like l1[2]=6 the changes get reflect in the same list whereas if we make any type of change in tuple tup=(1,2,3,4) if we want first value be 9 then tup[0]=9 will throw an error"