In [3]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd
data=[4,8,15,16,23,42]
series=pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
data=[i for i in range(2,21,2)]
series=pd.Series(data)
print(series)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

In [8]:
#Q3. Create a Pandas DataFrame that contains the following data. Then, print the DataFrame.
data={"name":['alice','bob','claire'],
     "age":[25,30,27],
     "gender":['female','male','female']}

df=pd.DataFrame(data)
print(df)

     name  age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

In [10]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
sol="In Pandas, a DataFrame is a 2-dimensional labeled data structure, similar to a table in a relational database.\
It consists of rows and columns, where each column can contain different data types.\
On the other hand, a Pandas Series is a 1-dimensional labeled data structure, similar to a one-dimensional array or a list.\
It is essentially a single column of data with associated labels or indices.\
Series can contain data of the same data type, and they are often used to represent a single variable or attribute."

series= pd.Series([10, 20, 30, 40, 50])
print("Pandas Series:")
print(series)

print()

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 22, 28, 35],
    'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']
}

df = pd.DataFrame(data)
print("Pandas Dataframe")
print(df)

Pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

Pandas Dataframe
      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   22     Paris
3    David   28     Tokyo
4      Eve   35    Sydney

In [3]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame?
#Can you give an example of when you might use one of these functions?
sol="Pandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions include head(), info(), describe(), etc \
1. head() = These functions allow you to view the first 5 rows  of the DataFrame.\
2. info() = This function provides a summary of the DataFrame, including the data types of columns and information about missing values.\
It helps in understanding the structure of the data.\
3. drop() = This function is used to remove rows or columns from the DataFrame based on the specified labels or indices.\
4. groupby() = This function is used for grouping data based on one or more columns. It allows for aggregation and analysis of data within the groups."

import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 22, 28, 35],
    'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']
}

df = pd.DataFrame(data)
print("First 5 rows of the DataFrame:")
print(df.head())

First 5 rows of the DataFrame:
      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   22     Paris
3    David   28     Tokyo
4      Eve   35    Sydney

In [ ]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
sol="In Pandas, both the DataFrame and the Panel are mutable data structures, meaning their values can be changed or modified after they are created.\
On the other hand, a Series is immutable, which means its elements cannot be changed once the Series is created."

In [4]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.
sol="In Pandas, we can create a DataFrame using multiple Series. Each Series will represent a column in the DataFrame.\
The length of all Series must be the same, as they will be combined into the DataFrame based on their indices."

names = pd.Series(['Alice', 'Bob', 'Charlie', 'David', 'Eve'])
age=pd.Series([25, 30, 22, 28, 35])
city=pd.Series(['New York', 'London', 'Paris', 'Tokyo', 'Sydney'])

data={"names":names,
      "age":age,
     "city":city}
df=pd.DataFrame(data)
print(df)

     names  age      city
0    Alice   25  New York
1      Bob   30    London
2  Charlie   22     Paris
3    David   28     Tokyo
4      Eve   35    Sydney